* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    color: #525252;
    line-height: 38px;
    font-size: 24px;
    background: url(../img/common-bg.jpg) center bottom no-repeat;
    background-size: cover; 
}
img{    
    border: none;
    max-width: 100%;
    vertical-align: middle;
}
.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transition: all .3s;
    -webkit-transition: all .3s;
}
.page.active{
    visibility: visible;
    opacity: 1;
    z-index: 2;
}
.draw .title{
    margin-top: 5%;
    width: 679px;
    height: 281px;
    background: url(../img/lottery-txt.png) no-repeat;
}
.draw .rotate{
    margin-top: 5%;
    position: relative;
    width: 656px;
    height: 672px;
    background: url(../img/lottery-prize.png) no-repeat;
}
.draw .rotate .rotate-start{
    border: none;
    outline: none;
    position: absolute;
    top: 234px;
    left: 186px;
    width: 233px;
    height: 186px;
    background: url(../img/lottery-start.png) no-repeat;
    transform-origin: 140px 93px;
    -webkit-transform-origin: 140px 93px;
    transform: rotate(0);
    -webkit-transform:  rotate(0);
}
.score{
    text-align: center;
}
.score .title{
    margin-top: 2%;
    margin-bottom: 2%;
    background: url(../img/score-title.png) no-repeat;
}
.score-first,
.score-second{
    transform: scale(.85) ;
    -webkit-transform: scale(.85) ;
}
.score-first .title{
    width: 508px;
    height: 132px;
    background-position: 0 -279px;
}
.score-second .title{
    width: 520px;
    height: 132px;
    background-position: 0 -147px;
}
.score-third .title{
    margin-top: 25%;
    width: 584px;
    height: 132px;
    background-position: 0 0;
}
.score .caption{
    font-size: 28px;
}
.score .prize{
    margin: 2% 0;
}
.score-third .prize{
    margin-top: 8%;
}
.score .form .tel,
.score .form .address{
    display: block;
    background: url(../img/input-bg.png) no-repeat;
    border: none;
    font-size: 28px;
    padding: 25px;
    outline: none;
}
.score .form .tel{
    height: 92px;
    width: 654px;
    background-position: 0 0;
}
.score .form .address{
    margin-top: 20px;
    height: 152px;
    width: 654px;
    background-position: 0 -92px;
}
.score .tips{
    margin-top: 2%;
}
.score .btns{
    margin-top: 2%;
}
.score .btns .submit,
.score .btns .share{
    display: block;
    width: 440px;
    height: 110px;
    background: url(../img/lottery-btns.png) no-repeat;
    border: none;
    text-indent: -9999px;
    outline: none;
}
.score .btns .submit{
    margin-bottom: 20px;
    background-position: 0 0;
}
.score .btns .share{
    background-position: 0 -120px;
}

.success{
    justify-content: center;
}
.success .title{
    margin-top: -10%;
    margin-bottom: 20px;
    width: 538px;
    height: 117px;
    background: url(../img/success-txt.png) no-repeat;
}
.success .share{
    margin-top: 50px;
    display: block;
    width: 440px;
    height: 110px;
    border: none;
    text-indent: -9999px;
    outline: none;
    background: url(../img/lottery-btns.png) 0 -120px no-repeat;
}
.popshare{
    background: rgba(0,0,0,.9) url(../img/share-txt.png) 90% 5%  no-repeat;
}